<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Workwave React Starter'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style type="text/css">
    .fullpage {
      margin: 0 !important;
    }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600" rel="stylesheet" />


  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="static-assets/favicons/apple-touch-icon-57x57.png"
  /><link
    rel="apple-touch-icon"
    sizes="60x60"
    href="static-assets/favicons/apple-touch-icon-60x60.png"
  /><link
    rel="apple-touch-icon"
    sizes="72x72"
    href="static-assets/favicons/apple-touch-icon-72x72.png"
  /><link
    rel="apple-touch-icon"
    sizes="76x76"
    href="static-assets/favicons/apple-touch-icon-76x76.png"
  /><link
    rel="apple-touch-icon"
    sizes="114x114"
    href="static-assets/favicons/apple-touch-icon-114x114.png"
  /><link
    rel="apple-touch-icon"
    sizes="120x120"
    href="static-assets/favicons/apple-touch-icon-120x120.png"
  /><link
    rel="apple-touch-icon"
    sizes="144x144"
    href="static-assets/favicons/apple-touch-icon-144x144.png"
  /><link
    rel="apple-touch-icon"
    sizes="152x152"
    href="static-assets/favicons/apple-touch-icon-152x152.png"
  /><link
    rel="apple-touch-icon"
    sizes="180x180"
    href="static-assets/favicons/apple-touch-icon-180x180.png"
  /><meta name="apple-mobile-web-app-capable" content="yes" /><meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  /><meta name="apple-mobile-web-app-title" content="WorkWave" /><meta
    name="mobile-web-app-capable"
    content="yes"
  /><meta name="theme-color" content="#fff" /><meta
    name="application-name"
    content="WorkWave"
  /><link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="static-assets/favicons/favicon-32x32.png"
  /><link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="static-assets/favicons/favicon-16x16.png"
  /><link
    rel="shortcut icon"
    href="static-assets/favicons/favicon.ico"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
    href="static-assets/favicons/apple-touch-startup-image-320x460.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
    href="static-assets/favicons/apple-touch-startup-image-640x920.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
    href="static-assets/favicons/apple-touch-startup-image-640x1096.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    href="static-assets/favicons/apple-touch-startup-image-750x1294.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)"
    href="static-assets/favicons/apple-touch-startup-image-1182x2208.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)"
    href="static-assets/favicons/apple-touch-startup-image-1242x2148.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
    href="static-assets/favicons/apple-touch-startup-image-748x1024.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
    href="static-assets/favicons/apple-touch-startup-image-768x1004.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
    href="static-assets/favicons/apple-touch-startup-image-1496x2048.png"
  /><link
    rel="apple-touch-startup-image"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
    href="static-assets/favicons/apple-touch-startup-image-1536x2008.png"
  />

  <!-- Insert all compiled CSS chunks -->
  <% if (htmlWebpackPlugin.files.css && htmlWebpackPlugin.files.css.length > 0) { %>
    <% for (var index in htmlWebpackPlugin.files.css) { %>
      <link href="<% print(htmlWebpackPlugin.files.css[index]); %>" rel="stylesheet">
    <% } %>
  <% } %>
</head>
<body class="fullpage">

<% if (htmlWebpackPlugin.options.appMountId) { %>
<div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
<% } %>

<% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
<% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
<div id="<%= htmlWebpackPlugin.options.appMountIds[index]%>"></div>
<% } %>
<% } %>



<!-- Browsers with ES module support load this file. -->
<!-- <script type="module" src="scripts/ww&#45;unified&#45;ui.min.js"></script> -->

<!-- Older browsers load this file (and module-supporting -->
<!-- browsers know *not* to load this file). -->
<!-- <script nomodule defer src="scripts/ww&#45;unified&#45;ui&#45;legacy.min.js"></script> -->

<!-- Insert all JS chunks -->
<% if (htmlWebpackPlugin.files.js && htmlWebpackPlugin.files.js.length > 0) { %>
  <script>
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    let script = document.createElement('script')
    script.src = "<% print(htmlWebpackPlugin.files.js[index]); %>"
    document.body.appendChild(script)
  <% } %>
  </script>
  <% } %>

</body>
</html>
